<header
  class="w-dvw p-4 flex justify-center items-center fixed top-0 left-0 z-10"
>
  <div class="flex justify-between items-center gap-10 max-w-[1280px] w-full">
    <a [routerLink]="['/']">
      <img
        class="w-32"
        src="/nivola-style-logo.png"
        alt="logo"
        aria-hidden="true"
      />
    </a>

    <div class="flex gap-8">
      <a
        [routerLink]="['usato']"
        [class.link_selected]="currentUrl === '/usato'"
        >USATO</a
      >
      <a
        [routerLink]="['chi-siamo']"
        [class.link_selected]="currentUrl === '/chi-siamo'"
        >CHI SIAMO</a
      >
      <a
        [routerLink]="['contatti']"
        [class.link_selected]="currentUrl === '/contatti'"
        >CONTATTI</a
      >
    </div>

    <img src="/logo/bmw_logo.svg" class="w-16 h-16" alt="" />
  </div>
</header>
