<footer data-scroll-section class="flex w-full justify-center px-4">
  <div
    class="text-start w-full max-w-[1280px] flex flex-col md:flex-row items-center pt-20 gap-6"
  >
    <div class="text-start">
      <div>NIVOLA STYLE s.r.l.</div>
      <div>Via Nuova Circonvallazione, 27 47900 Rimini</div>
      <div>Tel +39-0541-791661 Fax +39-0541-791541</div>
      Capitale Sociale Euro 90000,00 <br />
      R.A.E. 290265 N. Reg. Impr. 03382830408
      <br />
      C.F. / P. I.V.A. 03382830408 Tutti i diritti riservati.
    </div>

    <div class="shrink-0 grow text-center">
      Orari <br />
      lunedì 15:30–19 <br />
      martedì 09–12:30, 15:30–19 <br />
      mercoledì 09–12:30, 15:30–19 <br />
      giovedì 09–12:30, 15:30–19 <br />
      venerdì 09–12:30, 15:30–19 <br />
      sabato 09–12:30 <br />
      domenica Chiuso <br />
    </div>

    <div>
      <img
        class="w-86"
        src="logo/nivola_v5.svg"
        alt="logo"
        aria-hidden="true"
      />
    </div>
  </div>
</footer>
