<section class="mt-32 flex relative justify-end flex-wrap" data-scroll-section>
  <div
    data-scroll
    data-scroll-speed="1"
    class="text-center w-full font-bold text-white"
  >
    <div class="w-full h-[80vh]">
      <app-infinite-scroll
        [items]="photos"
        [isPausable]="false"
      ></app-infinite-scroll>
    </div>
  </div>

  <div
    data-scroll
    data-scroll-speed="5"
    class="flex flex-col justify-center items-center gap-10 text-3xl text-white my-10 w-full relative"
  >
    <div class="absolute w-full h-full opacity-45"></div>

    <div class="text-white z-10 p-4 text-justify max-w-[1280px]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae vel ipsum
      consequuntur. Ab impedit, tenetur quisquam vitae autem neque voluptatibus
      nulla, cupiditate ut ex eius cum quas corrupti voluptatem obcaecati?
      Dolorem nostrum, quidem pariatur veniam vero culpa dolor suscipit
      inventore. Incidunt eaque dolorum aut numquam, maxime delectus facere sit
      ipsa doloribus ipsum itaque ipsam excepturi sed iste, a totam error? At
      expedita, ea eum numquam ad repudiandae, voluptate earum omnis, alias
      ullam iste molestias blanditiis quidem quae? Ad tempore, eligendi eaque
      aliquid commodi provident perferendis id totam neque! Rem, modi! Tenetur
      qui porro consectetur quae. Asperiores sed aliquid delectus ducimus
      dolorem excepturi ullam quibusdam explicabo aliquam officia praesentium
      eum ex cumque incidunt earum, beatae maiores magnam reiciendis, laudantium
      molestiae fugiat? Quae culpa voluptates omnis vitae? Sed dicta impedit
      quos minima doloremque provident consectetur assumenda quae. Doloribus
      molestiae, quas quibusdam, dolore illo numquam dolorum accusantium debitis
      quam error, at optio exercitationem?
    </div>
  </div>
</section>

<section
  data-scroll-section
  class="flex flex-col sm:flex-row justify-evenly items-center bg-[#0090D3] gap-20 py-10 mb-32"
  data-scroll-speed="3"
>
  <a
    href="http://www.nivolastyle.bmw-motorrad.it/it/nivolastyle/it/index.html"
    class="flex flex-col justify-center items-center w-max text-2xl"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src="logo/bmw_logo.svg" alt="bmw logo" class="w-20 mx-auto mb-3" />

    <div class="font-bold text-black text-4xl">Concessionaria BMW</div>
    <div class="text-white">Entra nel portale BMW Rimini</div>
  </a>
  <a
    href="https://appuntamento-online.bmw-motorrad.it/it/login"
    class="flex flex-col justify-center items-center w-max text-2xl"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src="assistenza_icon.svg" alt="bmw logo" class="w-20 mx-auto mb-3" />

    <div class="font-bold text-black text-4xl">Assistenza</div>
    <div class="text-white">Richiedi un incontro con l'Officina</div>
  </a>
</section>
