<section class="hero h-dvh" data-scroll-section>
  <div data-scroll data-scroll-speed="1" class="w-full h-full object-cover">
    <video
      class="w-full h-full object-cover"
      autoPlay="true"
      playsInline="true"
      muted="true"
      loop="true"
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
    >
      <source src="video/hero.mp4" type="video/mp4" />
    </video>
  </div>
</section>

<section data-scroll-section class="p-4 md:p-0">
  <div class="max-w-[1280px] mx-auto py-5">
    <h1
      class="text-white font-black !text-8xl"
      data-scroll
      data-scroll-speed="3"
    >
      NIVOLA STYLE SRL
    </h1>

    <p class="text-white mt-[80vh]" data-scroll data-scroll-speed="4">
      La concessionaria NIVOLA STYLE si presenta a Rimini e provincia e
      Repubblica di San Marino con uno showroom dedicato alla vendita e alla
      assistenza delle prestigiose motociclette BMW.
      <br />
      <br />
      Cuore della concessionaria è il personale, forte dell’esperienza decennale
      nel settore motociclistico, al quale sono dedicate preziose risorse per
      una scrupolosa preparazione attraverso costanti corsi di aggiornamento.
      <br />
      <br />

      Tutte le aree operative sono dirette da professionisti capaci e
      responsabili che rispondono quotidianamente alle diverse richieste: dal
      preventivo o acquisto di una moto nuova o usata, alla migliore formula di
      finanziamento, alla prenotazione di un tagliando o di un qualsiasi lavoro
      presso la qualificata officina.
      <br />
      <br />

      Nella nostra concessionaria potrete trovare ricambi e accessori di ogni
      tipologia e nella parte dedicata agli accessori e abbigliamento tutto
      quello che può servire per rendere confortevole e sicuro il vostro
      viaggio.
      <br />
      <br />

      La passione per il mondo delle due ruote è ciò che ci contraddistingue ed
      è quello che mettiamo al servizio del cliente per offrire un servizio
      unico sotto ogni punto di vista.
      <br />
      <br />

      Vieni a trovarci e non rimarrai deluso.
    </p>
  </div>
</section>

<section
  data-scroll-section
  class="flex flex-col sm:flex-row justify-evenly items-center bg-[#0090D3] gap-20 py-32"
>
  <a
    href="http://www.nivolastyle.bmw-motorrad.it/it/nivolastyle/it/index.html"
    class="flex flex-col justify-center items-center w-max text-2xl"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src="logo/bmw_logo.svg" alt="bmw logo" class="w-20 mx-auto mb-3" />

    <div class="font-bold text-black text-4xl">Concessionaria BMW</div>
    <div class="text-white">Entra nel portale BMW Rimini</div>
  </a>
  <a
    href="https://appuntamento-online.bmw-motorrad.it/it/login"
    class="flex flex-col justify-center items-center w-max text-2xl"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src="assistenza_icon.svg" alt="bmw logo" class="w-20 mx-auto mb-3" />

    <div class="font-bold text-black text-4xl">Assistenza</div>
    <div class="text-white">Richiedi un incontro con l'Officina</div>
  </a>
</section>

<section
  data-scroll-section
  class="text-white relative pr-4 pt-10"
  id="scrollContent"
>
  <div
    class="w-full md:w-1/2 shrink-0 pr-4"
    data-scroll
    data-scroll-sticky
    data-scroll-target="#scrollContent"
  >
    <img
      src="images/nivola_showroom.png"
      alt="showroom"
      class="w-full rounded-tr-2xl rounded-br-2xl overflow-hidden shadow-2xl"
    />
  </div>

  <div class="flex flex-col items-end justify-end gap-10 z-10">
    <div class="w-full md:w-1/2 p-4 z-20">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur vero
      similique vel eaque voluptas quos cupiditate, eius dicta quod corporis
      debitis tempora architecto quas distinctio dolore ipsam pariatur atque
      veritatis. Magni molestias nostrum voluptates ullam fuga ipsam, enim iste
      sequi soluta suscipit sed sunt nemo delectus deleniti facilis in tempora
      laboriosam ipsa reiciendis ex! Voluptas, earum ratione. Culpa, nihil ex.
      Aspernatur corrupti quam id esse corporis repellat at ducimus porro
      impedit nam in atque, fugit officia quibusdam tempore, laboriosam quo
      iure. Libero ducimus natus, distinctio consequuntur ea repellendus
      necessitatibus architecto? Eum esse voluptatibus tempore repellat sequi
      asperiores pariatur, similique ad. Reprehenderit vitae temporibus saepe
      eum molestiae suscipit at praesentium autem exercitationem tempore.
      Officia repudiandae fugiat quas laudantium voluptates illum suscipit! Quam
      dolor enim dolorem minus delectus laudantium facere ullam? Molestias aut
      eveniet aliquid quisquam mollitia sequi veritatis, distinctio excepturi?
      Veniam soluta, porro nihil animi magnam perferendis quas minus odit nam!
      Quo fugiat voluptates culpa porro consequuntur ea repellat similique
      maiores facere modi harum suscipit nihil beatae, deleniti, possimus vitae
      voluptatibus placeat. Corporis doloremque veniam, consequuntur tempora
      assumenda soluta hic perferendis! Minima ipsa consequatur at ad aliquam
      reiciendis sunt ab debitis expedita, earum in harum incidunt porro
      blanditiis architecto doloribus nam quasi velit eveniet dolores itaque
      consectetur obcaecati. Exercitationem, alias corrupti. Cupiditate adipisci
      labore laborum nam facere quae animi dolorum a doloribus fugiat,
      repellendus dicta error eligendi voluptatum. Nam veritatis totam suscipit
      molestiae alias, aliquam aliquid ut laboriosam sit amet obcaecati? Rem
      accusamus minima temporibus neque autem porro tenetur amet hic? Nulla quas
      iste tempora pariatur quia eligendi cum porro dolorem perferendis harum
      molestiae rerum, velit expedita dolore dicta quod alias. At minima ipsam
      magni iure. Aliquid in dignissimos ea. Iusto accusamus tenetur maiores
      omnis nemo quaerat aperiam vero eligendi maxime laborum asperiores autem
      neque, consectetur quas eius in cum mollitia.
    </div>
    <div class="w-full md:w-1/2 p-4 z-20">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur vero
      similique vel eaque voluptas quos cupiditate, eius dicta quod corporis
      debitis tempora architecto quas distinctio dolore ipsam pariatur atque
      veritatis. Magni molestias nostrum voluptates ullam fuga ipsam, enim iste
      sequi soluta suscipit sed sunt nemo delectus deleniti facilis in tempora
      laboriosam ipsa reiciendis ex! Voluptas, earum ratione. Culpa, nihil ex.
      Aspernatur corrupti quam id esse corporis repellat at ducimus porro
      impedit nam in atque, fugit officia quibusdam tempore, laboriosam quo
      iure. Libero ducimus natus, distinctio consequuntur ea repellendus
      necessitatibus architecto? Eum esse voluptatibus tempore repellat sequi
      asperiores pariatur, similique ad. Reprehenderit vitae temporibus saepe
      eum molestiae suscipit at praesentium autem exercitationem tempore.
      Officia repudiandae fugiat quas laudantium voluptates illum suscipit! Quam
      dolor enim dolorem minus delectus laudantium facere ullam? Molestias aut
      eveniet aliquid quisquam mollitia sequi veritatis, distinctio excepturi?
      Veniam soluta, porro nihil animi magnam perferendis quas minus odit nam!
      Quo fugiat voluptates culpa porro consequuntur ea repellat similique
      maiores facere modi harum suscipit nihil beatae, deleniti, possimus vitae
      voluptatibus placeat. Corporis doloremque veniam, consequuntur tempora
      assumenda soluta hic perferendis! Minima ipsa consequatur at ad aliquam
      reiciendis sunt ab debitis expedita, earum in harum incidunt porro
      blanditiis architecto doloribus nam quasi velit eveniet dolores itaque
      consectetur obcaecati. Exercitationem, alias corrupti. Cupiditate adipisci
      labore laborum nam facere quae animi dolorum a doloribus fugiat,
      repellendus dicta error eligendi voluptatum. Nam veritatis totam suscipit
      molestiae alias, aliquam aliquid ut laboriosam sit amet obcaecati? Rem
      accusamus minima temporibus neque autem porro tenetur amet hic? Nulla quas
      iste tempora pariatur quia eligendi cum porro dolorem perferendis harum
      molestiae rerum, velit expedita dolore dicta quod alias. At minima ipsam
      magni iure. Aliquid in dignissimos ea. Iusto accusamus tenetur maiores
      omnis nemo quaerat aperiam vero eligendi maxime laborum asperiores autem
      neque, consectetur quas eius in cum mollitia.
    </div>
    <div class="w-full md:w-1/2 p-4 z-20">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur vero
      similique vel eaque voluptas quos cupiditate, eius dicta quod corporis
      debitis tempora architecto quas distinctio dolore ipsam pariatur atque
      veritatis. Magni molestias nostrum voluptates ullam fuga ipsam, enim iste
      sequi soluta suscipit sed sunt nemo delectus deleniti facilis in tempora
      laboriosam ipsa reiciendis ex! Voluptas, earum ratione. Culpa, nihil ex.
      Aspernatur corrupti quam id esse corporis repellat at ducimus porro
      impedit nam in atque, fugit officia quibusdam tempore, laboriosam quo
      iure. Libero ducimus natus, distinctio consequuntur ea repellendus
      necessitatibus architecto? Eum esse voluptatibus tempore repellat sequi
      asperiores pariatur, similique ad. Reprehenderit vitae temporibus saepe
      eum molestiae suscipit at praesentium autem exercitationem tempore.
      Officia repudiandae fugiat quas laudantium voluptates illum suscipit! Quam
      dolor enim dolorem minus delectus laudantium facere ullam? Molestias aut
      eveniet aliquid quisquam mollitia sequi veritatis, distinctio excepturi?
      Veniam soluta, porro nihil animi magnam perferendis quas minus odit nam!
      Quo fugiat voluptates culpa porro consequuntur ea repellat similique
      maiores facere modi harum suscipit nihil beatae, deleniti, possimus vitae
      voluptatibus placeat. Corporis doloremque veniam, consequuntur tempora
      assumenda soluta hic perferendis! Minima ipsa consequatur at ad aliquam
      reiciendis sunt ab debitis expedita, earum in harum incidunt porro
      blanditiis architecto doloribus nam quasi velit eveniet dolores itaque
      consectetur obcaecati. Exercitationem, alias corrupti. Cupiditate adipisci
      labore laborum nam facere quae animi dolorum a doloribus fugiat,
      repellendus dicta error eligendi voluptatum. Nam veritatis totam suscipit
      molestiae alias, aliquam aliquid ut laboriosam sit amet obcaecati? Rem
      accusamus minima temporibus neque autem porro tenetur amet hic? Nulla quas
      iste tempora pariatur quia eligendi cum porro dolorem perferendis harum
      molestiae rerum, velit expedita dolore dicta quod alias. At minima ipsam
      magni iure. Aliquid in dignissimos ea. Iusto accusamus tenetur maiores
      omnis nemo quaerat aperiam vero eligendi maxime laborum asperiores autem
      neque, consectetur quas eius in cum mollitia.
    </div>
  </div>
</section>

<section data-scroll-section class="my-32 py-10">
  <div
    class="w-full text-2xl sm:text-4xl md:text-6xl lg:text-9xl text-white text-center italic"
  >
    #MAKE LIFE A RIDE
  </div>
</section>
<section data-scroll-section class="my-32 bg-[#0090D3] py-10">
  <div class="w-full h-20">
    <app-infinite-scroll [items]="brands"></app-infinite-scroll>
  </div>
</section>
